/* USAGE

.long {
 @include long-text-shadow(30, top right, red, darken(red, 30%));
  color: white;
}

or 

.long {
 @include long-box-shadow(30, top right, red, darken(red, 30%));
  color: white;
}

All arguments optional:

1: length of shadow
2: direction of shadow
3: starting color of shadow
4: ending color of shadow */


@function calculate-shadow($length: 10, $direction: bottom right, $color1: #222, $color2: #555) {
	$shadows: ();
	$x: 0;
	$y: 0;
	@if nth($direction, 1) == bottom {
		$y: 1;
	} @else if nth($direction, 1) == top {
		$y: -1;
	}

	@if nth($direction, 2) == right {
		$x: 1;
	} @else if nth($direction, 2) == left {
		$x: -1;
	}
	@for $i from 1 through $length {
		$percent: $i / $length * 100%;
		$color: mix($color2, $color1, $percent);
		$shadow: #{$i * $x}px #{$i * $y}px $color;
		$shadows: append($shadows, $shadow, comma);
	}
	@return $shadows;
}

@mixin long-text-shadow($length: 10, $direction: bottom right, $color1: #222, $color2: #555) {
	text-shadow: calculate-shadow($length, $direction, $color1, $color2);
}

@mixin long-box-shadow($length: 10, $direction: bottom right, $color1: #222, $color2: #555) {
	box-shadow: calculate-shadow($length, $direction, $color1, $color2);
}